* {
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 600px;
}

.header {
    background: url(../Test1/img/header.jpg) no-repeat top/cover;
    width: 600px;
    height: 397px;

}

.header img {
    position: relative;
    padding-left: 408px;
}

.header h1 {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: 700;
    width: 540px;
    font-style: normal;
    text-transform: capitalize;
    text-align: left;
    position: relative;
    padding-left: 30px;
    padding-top: 224px;
    width: 540px;
}

.sectionmini-article {
    background: url(../Test1/img/Certificate.png);
    width: 600px;
    height: 87px;
    position: relative;
}

.mini-article_text p {
    color: #FFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    padding-top: 20px;
}

.sectionmax-article {
    width: 540px;
    position: relative;
    padding-left: 30px;
}

.heading h3 {
    color: #14475F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-top: 40px;

}

.pharagraph1 p {
    color: #414042;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
}

.pharagraph2 {
    color: #414042;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
    width: 540px;
}

.explore-brochure_content {
    background: #1085A9;
    width: 255px;
    height: 268px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.brochure-rectangle {
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
}

.brochure-icon {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: -45px;
    margin-left: 45px;
    z-index: 1;
}

.brochure-text {
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 195px;
    position: relative;
    padding-left: 30px;
    padding-top: 35px;
}

.brochure-number {
    color: #2891B2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 162px;
    font-weight: 700;
    width: 70px;
    position: absolute;
    right: 10px;
    bottom: 1px;
}

.brochure-arrow h3 {
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin-left: 30px;
    margin-top: 58px;
}

.brochure-arrow img {
    position: relative;
    bottom: 19px;
    left: 104px;
}